# Database
DATABASE_URL="postgresql://user:password@host/database?sslmode=require"

# Session
SESSION_SECRET="your-secret-key-here-minimum-32-characters"

# Server
PORT=8432
NODE_ENV=development

# Frontend URL (CORS)
FRONTEND_URL="http://localhost:3247"
